{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Details</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <div class="container">
        <div class="col-sm-5">
           <h1>Enter Your Details</h1>
               <form action = "" method="POST">
                {% csrf_token %}
                 <input type="text" name="name" placeholder="Full Name" id="name"><br>
                 <input type="email" name="email" placeholder="Email" id="email"><br>
                 <input type="text" name="phone" placeholder="Phone No." id="phone" ><br>
                 <input type="text" name="age" placeholder="Age" id="age"><br>
                 <input type="text" name="address" placeholder="Address" id="address"><br>
                 <input type="text" name="job" placeholder="Job" id="job"><br>                

                 <div class="buttons">
                    <button onclick="location.href='success'">Confirm</button>

                </div>
        </form>
        </div>
    </div>  
</body>
</html>